<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register
        serviceType="Feature.Website.Controllers.ProductCompareController, Feature.Website"
        implementationType="Feature.Website.Controllers.ProductCompareController, Feature.Website"
        lifetime="Transient"/>
      <register
          serviceType="Feature.Website.Repositories.IProductCompareRepository, Feature.Website"
          implementationType="Feature.Website.Repositories.ProductCompareRepository, Feature.Website"
          lifetime="Singleton"/>
      <register
          serviceType="Feature.Website.Managers.ICompareManager, Feature.Website"
          implementationType="Feature.Website.Managers.CompareManager, Feature.Website"
          lifetime="Singleton"/>
    </services>
    <commerce.XA>
      <models>
        <AddViewCompareButtonModel type="Feature.Website.Models.AddViewCompareButtonModel, Feature.Website"/>
        <ProductCompareModel type="Feature.Website.Models.ProductCompareModel, Feature.Website"/>
        <RemoveFromProductCompareModel type="Feature.Website.Models.RemoveFromProductCompareModel, Feature.Website"/>
      </models>
      <javascript>
        <feature>
          <file name="addCompareButton" path="/Scripts/Commerce/Feature/ProductCompare/feature.compare.addCompareButton.js" order="100"/>
          <file name="removeCompareButton" path="/Scripts/Commerce/Feature/ProductCompare/feature.compare.removeCompareButton.js" order="110"/>
        </feature>
      </javascript>
    </commerce.XA>
  </sitecore>
</configuration>